<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Library.Resources.SharedResource.Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/@MvcApplication.theme" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Library.Resources.SharedResource.Library, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Library.Resources.SharedResource.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Library.Resources.SharedResource.About, "About", "Home")</li>
                    <li>@Html.ActionLink(Library.Resources.SharedResource.Contact, "Contact", "Home")</li>
                    <li>@Html.ActionLink(Library.Resources.SharedResource.Books, "Index", "Book")</li>
                    <li>@Html.ActionLink(Library.Resources.SharedResource.Authors, "Index", "Author")</li>
                    <li>@Html.ActionLink(Library.Resources.SharedResource.PublishingHouses, "Index", "PublishingHouse")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Library.Resources.SharedResource.Language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item">@Html.ActionLink(Library.Resources.SharedResource.Polish, "Change", "Home", new { LanguageAbbrevation = "pl-PL" }, null)</a>
                            <a class="dropdown-item">@Html.ActionLink(Library.Resources.SharedResource.German, "Change", "Home", new { LanguageAbbrevation = "de-DE" }, null)</a>
                            <a class="dropdown-item">@Html.ActionLink(Library.Resources.SharedResource.English, "Change", "Home", new { LanguageAbbrevation = "en-US" }, null)</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Motyw
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li> <a class="link label-inverse navbar-link " href="/Home/Motyw?id=1" id="someID">Basic</a> </li>
                            <li><a class="link label-inverse navbar-link" href="/Home/Motyw?id=2" id="someIDd">Color</a></li>
                            <li><a class="link label-inverse navbar-link" href="/Home/Motyw?id=3" id="someIdD">Dark</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
