@model IEnumerable<Library.Models.Picture>

@{
    ViewBag.Title = Library.Resources.SharedResource.Index;
}

<h2>@Library.Resources.SharedResource.Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Library.Resources.SharedResource.Title
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id=item.PictureID }) |
            @Html.ActionLink(Library.Resources.SharedResource.Details, "Details", new { id=item.PictureID }) |
            @Html.ActionLink(Library.Resources.SharedResource.Delete, "Delete", new { id=item.PictureID })
        </td>
    </tr>
}

</table>
