@model Library.Models.Tag

@{
    ViewBag.Title = Library.Resources.SharedResource.Delete;
}

<h2>@Library.Resources.SharedResource.Delete</h2>

<h3>@Library.Resources.SharedResource.DeleteConfirm</h3>
<div>
    <h4>@Library.Resources.SharedResource.Tags</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Library.Resources.SharedResource.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Library.Resources.SharedResource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Library.Resources.SharedResource.Delete class="btn btn-default" /> |
            @Html.ActionLink(Library.Resources.SharedResource.BackToList, "Index")
        </div>
    }
</div>
