@model Library.Models.Tag

@{
    ViewBag.Title = Library.Resources.SharedResource.Details;
}

<h2>@Library.Resources.SharedResource.Details</h2>

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Library.Resources.SharedResource.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Library.Resources.SharedResource.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id = Model.TagID }) |
    @Html.ActionLink(Library.Resources.SharedResource.BackToList, "Index")
</p>
