@model IEnumerable<Library.Models.Tag>

@{
    ViewBag.Title = Library.Resources.SharedResource.Index;
}

<h2>@Library.Resources.SharedResource.Index</h2>

<p>
    @Html.ActionLink(Library.Resources.SharedResource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Library.Resources.SharedResource.Title
        </th>
        <th>
            @Library.Resources.SharedResource.Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id=item.TagID }) |
            @Html.ActionLink(Library.Resources.SharedResource.Details, "Details", new { id=item.TagID }) |
            @Html.ActionLink(Library.Resources.SharedResource.Delete, "Delete", new { id=item.TagID })
        </td>
    </tr>
}

</table>
