@model Library.Models.Message

@{
    ViewBag.Title = Library.Resources.SharedResource.Details;
}

<h2>@Library.Resources.SharedResource.Details</h2>

<div>
    <h4>@Library.Resources.SharedResource.Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Library.Resources.SharedResource.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Library.Resources.SharedResource.Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id = Model.MessageID }) |
    @Html.ActionLink(Library.Resources.SharedResource.BackToList, "Index")
</p>
