@model Library.Models.Order

@{
    ViewBag.Title = Library.Resources.SharedResource.Details;
}

<h2>@Library.Resources.SharedResource.Details</h2>

<div>
    <h4>@Library.Resources.SharedResource.Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Library.Resources.SharedResource.Books
        </dt>

        <dd>
            @foreach (var item in ViewBag.books)
            {
                <div>@item</div>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink(Library.Resources.SharedResource.BackToList, "Index")
</p>
