@model IEnumerable<Library.Models.Order>

@{
    ViewBag.Title = Library.Resources.SharedResource.Order;
}


<p>
    @Html.ActionLink(Library.Resources.SharedResource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart.userId)
        </th>
        <th>
            @Library.Resources.SharedResource.Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cart.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id=item.OrderID }) |
            @Html.ActionLink(Library.Resources.SharedResource.Details, "Details", new { id=item.OrderID }) |
            @Html.ActionLink(Library.Resources.SharedResource.Delete, "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
