@{ ViewBag.Title = Library.Resources.SharedResource.Cart; }
@using Library.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h2>@Library.Resources.SharedResource.Cart</h2>
    <h3>@Library.Resources.SharedResource.TotalAmount: @Session["licz"]</h3>
    <table class="table-condensed">
        <tr>
            <th>@Library.Resources.SharedResource.Title</th>
            <th>@Library.Resources.SharedResource.Quantity</th>
        </tr>

        @if ((List<CartItem>)Session["cart"] != null)
        {
            List<String> titles = (List<String>)Session["titles"];
            int i = 0;
            foreach (CartItem item in (List<CartItem>)Session["cart"])
            {

<tr>
    
    
    <th>
        @titles[i]
        @{i++;
        }
    </th>

        
    <th>@item.Quantity</th>
    <th style="border:none">
        @using (Html.BeginForm("Remove", "ShoppingCart", FormMethod.Post))
        {
@Html.Hidden("id", item.ISBN)
                        @Html.Hidden("quantity", item.Quantity)
                                                <button type="submit" class="btn btn-danger">@Library.Resources.SharedResource.Remove</button>}
        
    </th>
</tr>}
            }
    </table>
    <br /><br />
    @Html.ActionLink(Library.Resources.SharedResource.ContinueBorrowing, "Index", "Book")
    <br /><br />
    @Html.ActionLink(Library.Resources.SharedResource.MakeOrder, "MakeAnOrder", "ShoppingCart")
</body>

</html>


