@{ ViewBag.Title = "Cart"; }
@using Library.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h2>Cart</h2>
    <h3>Total amount: @Session["licz"]</h3>
    <table class="table-condensed">
        <tr>
            <th>ISBN</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>

        @if ((List<CartItem>)Session["cart"] != null)
        {
            List<String> titles = (List<String>)Session["titles"];
            int i = 0;
            foreach (CartItem item in (List<CartItem>)Session["cart"])
            {

<tr>
    <th>@item.ISBN</th>

    
    <th>
        @titles[i]
        @{i++;
        }
    </th>

        
    <th></th>
    <th>@item.Quantity</th>
    <th style="border:none">
        @using (Html.BeginForm("Remove", "ShoppingCart", FormMethod.Post))
        {
@Html.Hidden("id", item.ISBN)
                        @Html.Hidden("quantity", item.Quantity)
                                                <button type="submit" class="btn btn-danger">Remove</button>}
        
    </th>
</tr>}
            }
    </table>
    <br /><br />
    @Html.ActionLink("Continue Shopping", "Index", "Book")
    <br /><br />
    @Html.ActionLink("MakeAnOrder", "MakeAnOrder", "ShoppingCart")
</body>

</html>


