@{
    ViewBag.Title = "Cart";
}
@using Library.Models;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h2>Cart</h2>
    <h3>Total amount: @Session["licz"]</h3>
    <table class="table-condensed">
        <tr>
            <th>ISBN</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @{
        double s = 0;
        }
        @if ((List<CartItem>)Session["cart"] != null)
        {
        foreach (CartItem item in (List<CartItem>)Session["cart"])
        {
            //s += item.Product.Price * item.Quantity;
            <tr>
                <th>@item.Book.ISBN</th>
                <th>@item.Book.Title</th>
                <th>@item.Book.Title</th>
                <th>@item.Quantity</th>
                @*<th>@(item.Quantity * item.Product.Price) zł</th>*@   
                <th style="border:none">
                 @using (Html.BeginForm("Remove", "ShoppingCart", FormMethod.Post))
                 {
                    @Html.Hidden("id", item.Book.ISBN)
                    @Html.Hidden("quantity", item.Quantity)
                    <button type="submit" class="btn btn-danger">Remove</button>
                 }

    </th>
            </tr>
        }
        }
        <tr>
            <th></th><th></th><th></th><th align="right">Sum: </th>
            <td>@s zł</td>
        </tr>
    </table>
    <br /><br />
    @Html.ActionLink("Continue Shopping", "Index", "Products")
    <br /><br />
    @Html.ActionLink("See Cart Bin", "CartBin", "ShoppingCart")
    <br /><br />
    @Html.ActionLink("MakeAnOrder", "MakeAnOrder", "ShoppingCart") 
</body>

</html>


