@{
    ViewBag.Title = "Administration Panel";
}
<h2>@ViewBag.Title</h2>


@Html.ActionLink(Library.Resources.SharedResource.Books, "Index", "Book")
<br />
@Html.ActionLink(Library.Resources.SharedResource.Authors, "Index", "Author")
<br />
@Html.ActionLink(Library.Resources.SharedResource.PublishingHouses, "Index", "PublishingHouse")
<br />
@Html.ActionLink("Confirm Users", "ConfirmUser", "Manage")
<br />
@Html.ActionLink("Change Role", "ChangeRole", "Manage")
<br />
@Html.ActionLink("Delete User", "DeleteUser", "Manage")
<br />

