@{
    ViewBag.Title = Library.Resources.SharedResource.AdministrationPanel;
}
<h2>@ViewBag.Title</h2>


@Html.ActionLink(Library.Resources.SharedResource.Books, "Index", "Book")
<br />
@Html.ActionLink(Library.Resources.SharedResource.Authors, "Index", "Author")
<br />
@Html.ActionLink(Library.Resources.SharedResource.PublishingHouses, "Index", "PublishingHouse")
<br />
@Html.ActionLink(Library.Resources.SharedResource.Orders, "Index", "Order")
<br />
@Html.ActionLink(Library.Resources.SharedResource.AddTags, "Create", "Tag")
<br />
@Html.ActionLink(Library.Resources.SharedResource.AddPictures, "Create", "Picture")
<br />
@Html.ActionLink(Library.Resources.SharedResource.AddFiles, "Create", "File")
<br />
@Html.ActionLink(Library.Resources.SharedResource.AddAnnouncement, "Create", "Message")
<br />
@Html.ActionLink(Library.Resources.SharedResource.Categories, "Index", "Category")
<br />
@Html.ActionLink(Library.Resources.SharedResource.Subcategories, "Index", "Subcategory")
<br />
@Html.ActionLink(Library.Resources.SharedResource.CheckAnnouncements, "Index", "Message")
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <br />
    @Html.ActionLink(Library.Resources.SharedResource.ChangeRole, "ChangeRole", "Manage")
    <br />
    @Html.ActionLink(Library.Resources.SharedResource.ConfirmUser, "ConfirmUser", "Manage")
    <br />
    @Html.ActionLink(Library.Resources.SharedResource.DeleteUser, "DeleteUser", "Manage")
    <br />
    @Html.ActionLink(Library.Resources.SharedResource.AddRole, "Create", "Role")
    <br />

}
