@{
    ViewBag.Title = "Home Page";
}

@using Library.Models;
<div class="jumbotron">
    <h1>@Library.Resources.SharedResource.Library</h1>
</div>


<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-content">
                    <div style="margin: 0 auto">
                        <p>
                            <a href="/Book/Index">
                                <img alt="The 1st Message." src=@Library.Resources.SharedResource.BookJpg
                                     style="width: 1140px;height: 400px" />
                                </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-content">
                    <div style="margin: 0 auto">
                        <p>
                            <a href="/Order/UserOrders">
                                <img alt="The 2nd Message." src=@Library.Resources.SharedResource.OrderJpg
                                     style="width: 1140px;height: 400px" />
                                <</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"> Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<style type="text/css">
    .carousel-inner {
        width: auto;
        height: 400px;
        max-height: 400px !important;
    }

    .carousel-content {
        color: black;
        display: flex;
        text-align: center;
    }
</style>
<script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel();
        });
</script>

<div class="row">

    <h2>@Library.Resources.SharedResource.NewBooks</h2>
    <table cellpadding="8" cellspacing="10" class="table">

        <tr>

            <th>@Library.Resources.SharedResource.YearOfPublication</th>
            <th>@Library.Resources.SharedResource.Title </th>
            <th>@Library.Resources.SharedResource.Author</th>
            <th>@Library.Resources.SharedResource.PublishingHouse</th>
            <th></th>

        </tr>
        @foreach (Book book in ViewBag.bookList)
        {
            <tr>
                <th> @book.PublicYear </th>
                <th> @book.Title </th>
                <th>

                    @book.Author.Name<a> </a>@book.Author.Surname
                </th>
                <th> @book.PublishingHouse.Name </th>

            </tr>
        }

    </table>

    <h1>@Library.Resources.SharedResource.Announcements</h1>
    @foreach (Message message in ViewBag.messages)
    {
        <h2>@message.Title</h2>
        <div>@message.Text</div>
    }

    <div class="col-md-4">

    </div>
</div>