@model Library.Models.Book

@{
    ViewBag.Title = Library.Resources.SharedResource.Delete;
}

<h2>@Library.Resources.SharedResource.Delete</h2>

<h3>@Library.Resources.SharedResource.DeleteConfirm</h3>
<div>
    <h4>@Library.Resources.SharedResource.Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishingHouse.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishingHouse.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Library.Resources.SharedResource.Delete class="btn btn-default" /> |
            @Html.ActionLink(Library.Resources.SharedResource.BackToList, "Index")
        </div>
    }
</div>
