@model Library.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    @foreach (var item in Model.Pictures)
    {
<div>
    <img src="@item.Link" height="450px" width="450px"/>
    <br />
</div>
            }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishingHouse.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishingHouse.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files)
        </dt>
        <dd>
            @foreach (var link in Model.Files)
            {
                <a href="@link.Address">@link.Name</a>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ISBN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
