@model IEnumerable<Library.Models.Book>

@using Microsoft.AspNet.Identity;
<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />
@{ ViewBag.Title = Library.Resources.SharedResource.Index; }

<h2>@Library.Resources.SharedResource.Books</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")|| User.Identity.IsAuthenticated && User.IsInRole("Worker"))
{

<p>
    @Html.ActionLink(Library.Resources.SharedResource.CreateNew, "Create", null, new { @class = "btn btn-primary" });
</p>}
<table class="table">
    <tr>
        <th></th>
        <th>
            @Library.Resources.SharedResource.Title
        </th>
        <th>
            @Library.Resources.SharedResource.Author
        </th>
        <th>
            @Library.Resources.SharedResource.PublishingHouse
        </th>
        <th>
            @Library.Resources.SharedResource.Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <div class="col-md-10">
            @if (item.Pictures.Count > 0)
            {
<img src="@Html.DisplayFor(modelItem => item.Pictures.ElementAt(0).Link)" alt="HTML% Icon" style="width:110px;height:110px" />                }
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Author.Name) &nbsp @Html.DisplayFor(modelItem => item.Author.Surname)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.PublishingHouse.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @using (Html.BeginForm(Library.Resources.SharedResource.OrderNow, "ShoppingCart", FormMethod.Post))
        {
                        @Html.Hidden("quantity", 1)
                        @Html.Hidden("id", item.ISBN)
                        @Html.Hidden("title", item.Title)
                        <button type="submit" class="btn btn-danger">@Library.Resources.SharedResource.Add</button>}
    </td>
    <td>
        @Html.ActionLink(Library.Resources.SharedResource.Details, "Details", new { id = item.ISBN }, new { @class = "btn btn-warning" })


        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.Identity.IsAuthenticated && User.IsInRole("Worker"))
        {
    @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id = item.ISBN }, new { @class = "btn btn-danger" })}

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.Identity.IsAuthenticated && User.IsInRole("Worker"))
        {
    @Html.ActionLink(Library.Resources.SharedResource.Delete, "Delete", new { id = item.ISBN }, new { @class = "btn btn-primary" })}




    </td>
</tr>}

</table>
