@model IEnumerable<Library.Models.Book>

@using Microsoft.AspNet.Identity;
<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />
@{ ViewBag.Title = "Index"; }

<h2>Books</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>}
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingHouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @*<div class="col-md-10">
            @if (item.Pictures.Count > 0)
            {
<img src="@Html.DisplayFor(modelItem => item.Pictures.ElementAt(0).Address)" alt="HTML% Icon" style="width:110px;height:110px" />                }
        </div>*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Author)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.PublishingHouse)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @using (Html.BeginForm("OrderNow", "ShoppingCart", FormMethod.Post))
        {
@Html.TextBox("quantity", null, new { type = "number", style = "width:35px", min = "0", @Value = "1" })
                    @Html.Hidden("id", item.ISBN)
                                        <button type="submit" class="btn btn-danger">Add</button>}
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.ISBN }, new { @class = "btn btn-warning" })


        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
@Html.ActionLink("Edit", "Edit", new { id = item.ISBN }, new { @class = "btn btn-danger" })}

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
@Html.ActionLink("Delete", "Delete", new { id = item.ISBN }, new { @class = "btn btn-primary" })}




    </td>
</tr>}

</table>
