
@{
    ViewBag.Title = Library.Resources.SharedResource.SearchBook;
}

@using Library.Models;
<div class="jumbotron">
    <h1>@Library.Resources.SharedResource.Library</h1>
</div>

<div class="row">

    <div class="input-group input-group-sm">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                @Library.Resources.SharedResource.Find: @Html.TextBox("SearchString")
            </div>
            <button type="submit" class="btn btn-success">@Library.Resources.SharedResource.Submit</button>
        </form>
    </div>

    <h2>@ViewBag.Title</h2>
    <table cellpadding="8" cellspacing="10" class="table">

        <tr>

            <th>@Library.Resources.SharedResource.Title </th>
            <th>@Library.Resources.SharedResource.Author</th>
            <th>@Library.Resources.SharedResource.PublishingHouse</th>
            <th></th>

        </tr>
        @foreach (Book book in ViewBag.bookList)
        {
    <tr>

        <th> @book.Title </th>
        <th>

            @book.Author.Name<a> </a>@book.Author.Surname
        </th>
        <th> @book.PublishingHouse.Name </th>
        <th>
            @Html.ActionLink(Library.Resources.SharedResource.Details, "Details", new { id = book.ISBN }, new { @class = "btn btn-warning" })


            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.Identity.IsAuthenticated && User.IsInRole("Worker"))
            {
                @Html.ActionLink(Library.Resources.SharedResource.Edit, "Edit", new { id = book.ISBN }, new { @class = "btn btn-danger" })}

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.Identity.IsAuthenticated && User.IsInRole("Worker"))
            {
                @Html.ActionLink(Library.Resources.SharedResource.Delete, "Delete", new { id = book.ISBN }, new { @class = "btn btn-primary" })}

            
        </th>
    </tr>
        }
    </table>

    <div class="col-md-4">

    </div>
</div>